@import url(normalize.css);
@import url(post.css);
@import url(contacts.css);

/* div {
    border: 1px solid red;

    
} */

html {
    font-family: 'Roboto', sans-serif;

    font-size: 18;
}

:root {

    --primary_color: #3700B3;
    --text: rgba(0, 0, 0, 0.6);
    --current-link: #985EFF;
}

.link {
    color: var(--primary_color);

    text-decoration-line: underline;
}


.link__current {
    color: var(--current-link);
}


.container {
    display: grid;

    width: 95%;

    margin: auto;
}




.container__main {
    grid-template-columns: 1fr;

    grid-template-rows: 100px minmax(100vh, 1fr) 50px;
}

.header {
    box-shadow: 
    
    0px 6px 10px rgba(0, 0, 0, 0.14);
    display: flex;

    padding-right: 110px;

    padding-left: 110px;

    justify-content: space-between;

    align-items: center;
}

.header__logo {
    background: url(../img/logo.png) center no-repeat;

    width: 50px;

    height: 75px;

}



.header__nav ul {
    display: flex;

    list-style: none;

    justify-content: space-between;

    

}

.header__nav ul li:first-child {
    margin-right: 55px;
}


.main {
   

    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: 65px 700px auto;

    gap: 80px 30px;

    grid-template-areas: "title title";

    padding-right: 110px;

    padding-left: 110px;


}


.main__post {

    height: 700px;

    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2),
    0px 9px 46px rgba(0, 0, 0, 0.12),
    0px 24px 38px rgba(0, 0, 0, 0.14);

    padding: 15px 30px;

    display: flex;

    flex-direction: column;

    justify-content: space-around;
    
}

.post__title h2 {
    margin: 0px;

    font-weight: 300;

    font-size: 2em;

    line-height: 42px;

    color: var(--text);

}

.post__btn {
    padding: 10px 15px;

    background-color: var(--primary_color);

    color: #FFF;

    text-decoration: none;

    font-weight: 500;

    font-size: 1.2em;

    letter-spacing: 1.25px;

    border-radius: 4px;
}

.post__meta {
    display: flex;

    justify-content: space-between;

    font-size: 0.8em;

    line-height: 15px;

    color: var(--text);
}

.post__text {
    font-weight: 300;

    

    line-height: 15px;

    color: var(--text);

}

.post__wrap {
    text-align: center;
}


.post__img img {
    width: 100%;
}




.main__title {
    grid-area: title;

    font-weight: 300;

    line-height: 56px;

    color: var(--text);

    font-size: 3.5em;

    
}

.footer  {
    box-shadow: inset 0px 6px 5px rgba(0, 0, 0, 0.08);

    min-height: 50px;

    display: flex;

    justify-content: center;

    align-items: center;

    margin-top: 30px;
}